<div class="editor-grid">
  <div class="editor-row">
    <label for="twitter_card">Card Type</label>
    <input id="twitter_card" type="text" placeholder="summary_large_image" />
  </div>
  <div class="editor-row">
    <label for="twitter_title">Twitter Title</label>
    <input id="twitter_title" type="text" placeholder="Twitter title" />
  </div>
  <div class="editor-row">
    <label for="twitter_description">Twitter Description</label>
    <textarea
      id="twitter_description"
      rows="3"
      placeholder="Twitter description"
    ></textarea>
  </div>
  <div class="editor-row">
    <label for="twitter_image">Twitter Image</label>
    <input id="twitter_image" type="text" placeholder="images/example.jpg" />
  </div>
</div>
